
<div class="container">
  <div class="orders">
    <div class="hispace"></div>
    <div class="row itemtitle">
      <div class="col-md-2">Size</div>
      <div class="col-md-2">Topping</div>
      <div class="col-md-2">Price</div>
      <div class="col-md-6"></div>
    </div>
    <div class="hispace"></div>
    <div ng-repeat="pizzaOrder in order.pizzaOrderObject.orders track by $index">
      <div class="row item">
          <div class="col-md-2">{{pizzaOrder.size}}</div>
          <div class="col-md-2">{{pizzaOrder.topping}}</div>
          <div class="col-md-2">${{pizzaOrder.price}}.00</div>
          <div class="lowspace col-md-2"></div>
          <div class="col-md-2">
            <button type="button" ng-click="order.remove(pizzaOrder)">Delete</button>
          </div>

      </div>

    </div>
    <div class="hispace">

    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-lg" ><a href="#!/menu">Go Back</a></button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-lg" style="float:center;" ng-click="order.confirmAll()"><a href="#!/confirm">Confirm Order</a></button>
      </div>
    </div>


  </div>

</div>
